{% extends "base.html" %}
{% block title %}Технлогии проекта{% endblock %}
{% block content %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Технологии
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Программы и компоненты, с помощью которых создавался этот сайт 
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>
                Сайт был создан в среде разработки VSCode. Интерпретатор python 3.7.7 и фреймворк Django.
                Стандартный терминал был заменен на Bash. Для отладки кода использовался линтер flake8 
                и утилита Isort.
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 