{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author }}{% endblock %}
{% block header%}Последние обновления автора {{ author }}{% endblock%}
{% block content %}
<main role="main" class="container">
    <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        <div class="card">
                                <div class="card-body">
                                        <div class="h2">
                                            <!-- Имя автора -->
                                            {{ author.first_name }}
                                        </div>
                                        <div class="h3 text-muted">
                                             <!-- username автора -->
                                             @{{ author.username }}
                                        </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                Подписчиков: {{ author.following.count }} <br />
                                                Подписан: {{ author.follower.count }}
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                    <!-- Количество записей -->
                                                    Записей: {{ author.posts.count }}
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                        {% if request.user.is_authenticated and request.user != author %}
                                                {% if following %}
                                                <a class="btn btn-lg btn-light" 
                                                        href="{% url 'posts:profile_unfollow' author.username %}" role="button"> 
                                                        Отписаться 
                                                </a> 
                                                {% else %}
                                                <a class="btn btn-lg btn-primary" 
                                                        href="{% url 'posts:profile_follow' author.username %}" role="button">
                                                        Подписаться 
                                                </a>
                                                {% endif %}
                                        {% endif %}
                                        </li> 
                                </ul>
                        </div>
                </div>
    
                <div class="col-md-9">                
                        <div class="container">
                         <!-- Вывод ленты записей -->
                             {% for post in page %}
                                 {% include "post_item.html" with post=post %}
                             {% endfor %}
                 </div>    
                    {% include "paginator.html" %}
         </div>
    </div>
</main>
{% endblock %}